


  <div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Profile
            <p class="lead"></p>
          </h1>
        </div>
        
      </div> 
    </div><!-- /cont -->
    
    
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <hr>
            <div class="container" style="width: 30rem;" >
            <img src="https://i.pinimg.com/736x/89/90/48/899048ab0cc455154006fdb9676964b3.jpg" height="200" width="200" style="margin: auto;" class="rounded-circle" alt="...">
            <div >
             <h2  style="color: white;">User Name</h2>
            <h6 style="color: white;">Title: Admin</h6>
            <h6 style="color: white;">Email: admin@kraftsbazaar.com</h6>
            <h6 style="color: white;">Contact No: 9012345672</h6>

            <a href="/updateadmin" class="btn btn-success">Update Profile</a>
            <a href="/logout" class="btn btn-success">Log Out</a>

            </div>
            </div>
            
            <hr>
            
            
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  
  
  
  <hr>
  
  
      <!-- script references -->
          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
          <script src="js/bootstrap.min.js"></script>